* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {    
    min-height: 100vh;
    background: linear-gradient(#003780, #391d3d);
}

.container {
    border: solid 2px (255, 255, 255, 0.3);
}

table {
    color: #fff;
    font-size: 14px;
    table-layout: fixed;
    border-collapse: collapse;
}

thead {
    background: rgba(243, 140, 210, 0.4);
}

th {
    padding: 20px 15px;
    font-weight: 700;
    text-transform: uppercase;
}

td {
    padding: 15px;
    border-bottom: solid 1px rgb(255, 255, 255, 0.2);
}