.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 0.5rem;
    gap: 3rem;
    margin: 0;
    width: 100%;
    background-color: #fff;
    height: 60px;
    margin-top: 20px;
}

.menuItems {
    display: flex;
    align-items: center;
    justify-content: baseline;
    flex-wrap: wrap;
    list-style: none;
    gap: 1rem;
}

.logoImg{
    object-fit: contain;
    margin: 0.5rem 0 0 0;
}
.imgContainer {
    transition: transform 0.3s;
  }

@media screen and (max-width: 1450px) {
    .searchBar {
        width: 500px;
    }
}
@media screen and (max-width: 1050px) {
    .searchBar {
        width: 300px;
        padding: 5px 5px;
    }
}
@media screen and (max-width: 811px) {
    .container{
        gap: 0.1rem;
    }
    .searchContainer {
        border: 1px solid black;
        border-radius: 60px;
    }
    .menuItems {
        gap: 0.1rem;
    }


    .searchBar {
        width: 100%;
        padding: 5px 10px;
        font-size: 16px;
        justify-content: space-between; 
    }

    .searchButton {
        margin-left: auto;
}
}
@media screen and (max-width: 650px) {
    .searchContainer {
        display: none;
    }
    .searchBar{
        display: none;
}
}